body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: black;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: black;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.nav-toggler {
    background-color: #fff;
}

.section-title {
    font-family: 'Pacifico', cursive;
}

#sobre-o-restaurante,
#cardapio {
    background-color:#fff ;
}

.text-colored {
    color: black;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: black;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color:black ;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

.carousel-item img {
    height: 760px;
}

#sobre-o-site,
#animais{
    background-color: #d3d3d3;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

